body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffff
}

.card .card-content {
  padding: 5px;
}
.card-content {
  background-color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #16a085
}

li {
  font-size: 2rem;
}

Button {
  position: relative;
  bottom: 0.25rem;
  left: 3rem
}

.waves-effect {
  width: 8rem;
}
